<!DOCTYPE html>
<html>
    <head>
        <title>Recipes.web.rs</title>
        <link rel="stylesheet" href="{{stylesheet}}">
    </head>
    <body>
        <div class="recipe">
            <span class="name">{{recipe.name}}</span><br/>
            <span class="field">cuisine: {{recipe.cuisine}}</span><br/>
            <span class="field">cook time: {{recipe.cooking_time_minutes}}</span><br/>
            <span class="field">prep time: {{recipe.prep_time_minutes}}</span><br/>
            <span class="field">servings: {{recipe.servings}}</span><br/>
            <span class="field">calories: {{recipe.calories_per_serving}}</span><br/>
            <br>
            <form>
                <label>Cuisine (optional):</label>
                <input type="text" name="cuisine"/>
                <button type="submit">New Recipe</button>
            </form>
            <h4>Ingredients</h4>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <h4>Dietary Restrictions</h4>
            <ul>
                {% for restriction in recipe.dietary_restrictions %}
                    <li>{{ restriction }}</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
